<div id="<%= dom_id contato %>">
  <p>
    <strong>Tipo:</strong>
    <%= contato.tipo %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= contato.valor %>
  </p>

  <p>
    <strong>Loja:</strong>
    <%= contato.loja_id %>
  </p>

</div>
